<% if !User.current.nil? && User.current.pref[:time_tracker_enabled] && !@project.nil? && @issue.nil?%>
	<h3><%= l( :time_tracker_label_account_settings ) %></h3>
	<%= time_tracker_button_tag(User.current, :project => @project) %>
<% end %>