<% time_tracker = time_tracker_for(User.current) %>
<% if !time_tracker.nil?  || (!@project.nil? and !@issue.nil? and User.current.allowed_to?(:log_time, @project)) %>
    <%# A time tracker exists, display the stop action %>
    <li>
      <%= time_tracker_link(@issue, User.current) %>
    </li>
<% end %>
